.radio {
    margin-right: 13px;
    width: 18px;
    height: 18px;
}

.radio::before {
    color: #000000;
}


.radio:checked::before {
    border: #000000;
    background-color: #000000;
}

.label {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}


.options {
    font-size: 16px;
}
