.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 240px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.editableSpanContainer {
    margin-bottom: 24px;
    margin-top: 42px;
}