.friendMessage {
    max-width: 80%;
    text-align: left;
    margin: 0 auto 30px 70px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.friendImageAndText {
    position: relative;
}

.friendImageAndText img {
    height: 48px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.friendText {
    position: relative;
    left: 60px;
    display: inline-block;
    background-color: #F5F7FB;
    border-radius: 10px;
    padding: 7px 13px;
    font-size: 16px;
    font-weight: 400;
}

.friendText:after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: -5px;
    border: 7px solid transparent;
    border-right: 21px solid #F5F7FB;
    rotate: -19deg;
}

.friendName {
    font-size: 18px;
    font-weight: 600;
}

.friendMessageText {

}

.friendTime {
    display: block;
    width: 48px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin: 5px auto 0 0;
}
