.greetingForm {
    margin-top: 30px;
}

.inputAndButtonContainer {
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    color: grey;
    font-size: 14px;
}

.greeting {
}
